 .logo-resize-bg{
    height: 40%;
    width: 40%;
  }

  .bg-brown{
  	background-color: #AE9242;
  }
  .text-brown{
  	color: #AE9242 !important; 
  }

  .text-green{
  	color: #346230 !important; 
  }

  .text-whit{
  	color: white !important;
  }

  .bg-green{
  	background-color: #346230 !important;
  }

select.fen option:hover{
    margin: 40px;
    box-shadow: #346230 inset!important;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

  .ph{
  	height: 150px
  }

  div.feature-box-info h4{
  	color: #AE9242 !important;
  }
  div.appear-animation h3{
  	color: #AE9242 !important;
  }
  div.appear-animation p{
  	text-align: justify;

  }
  ul.list-icons p a{
  	font-weight: bolder !important;
  }

  .hero-image {
        /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
     background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url("../img/supermanic/incentives.jpg");
      
       
       
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }